<div class="alert alert-info" *ngIf="this.isDialogVisible">
    <p>{{ notification.content }}</p>
</div>
<body id="body-pd">
    <div class="container-fluid bg-light">
        <div class="row">
            <app-nav></app-nav>
        </div>
        <div class="row">
            <main class="col-md-6 ms-sm-auto col-lg-6 px-md-4" id="main">
                <div class="d-flex justify-content-center flex-wrap">
                    <app-post
                        *ngFor="let post of posts"
                        [post]="post"
                    ></app-post>
                </div>
            </main>
        </div>
    </div>
</body>
