<div mat-dialog-content>
    <form enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input
                type="text"
                class="form-control"
                id="inputName"
                [(ngModel)]="user.name"
                name="name"
            />
            <label for="inputName">Name</label>
            <input
                type="text"
                class="form-control"
                id="inputName"
                [(ngModel)]="user.name"
                name="name"
            />
            <label for="inputName">Name</label>
            <input
                type="text"
                class="form-control"
                id="inputName"
                [(ngModel)]="user.name"
                name="name"
            />
            <label for="inputName">Name</label>
            <input
                type="text"
                class="form-control"
                id="inputName"
                [(ngModel)]="user.name"
                name="name"
            />
            <label for="inputName">Name</label>
            <input
                type="text"
                class="form-control"
                id="inputName"
                [(ngModel)]="user.name"
                name="name"
            />
            <label for="inputName">Name</label>
            <input
                type="text"
                class="form-control"
                id="inputName"
                [(ngModel)]="user.name"
                name="name"
            />
        </div>
        <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
    </form>
</div>

<div mat-dialog-actions>
    <button
        mat-button
        (click)="closeDialog()"
        type="button"
        class="btn btn-outline-warning"
    >
        <i class="pi pi-times"></i>
        <span>Close</span>
    </button>
</div>
