<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <div class="card border-0">
                <div class="card-header border-0 bg-body">
                    <div class="d-flex justify-content-between pt-3">
                        <span class="d-flex d-inline-block">
                            <img
                                class="bd-placeholder-img rounded-circle me-2"
                                width="40"
                                height="40"
                                src="{{ postUser.avatar }}"
                                alt="{{ postUser.name }}"
                                (click)="redirectProfile(postUser.id)"
                            />

                            <div (click)="redirectProfile(postUser.id)">
                                <h6>
                                    {{ postUser.name }}
                                </h6>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <figure class="figure" style="width: 40rem">
                        <img
                            src="{{ post.image }}"
                            alt="{{ post.id }}"
                            class="figure-img img-fluid w-100 h-100 object-fit-cover"
                        />
                        <figcaption class="row">
                            <div class="col-12">
                                <p>
                                    <strong>{{ postUser.name }}</strong>
                                    {{ post.title }}
                                </p>
                            </div>
                            <div
                                class="col-12"
                                *ngIf="this.userHasLike == false"
                                (click)="likePost(post.id)"
                            >
                                <i
                                    class="pi pi-heart"
                                    style="font-size: 1.5rem"
                                ></i>
                            </div>
                            <div
                                class="col-12"
                                *ngIf="this.userHasLike == true"
                                (click)="unLikePost(post.id)"
                            >
                                <i
                                    class="pi pi-heart-fill"
                                    style="font-size: 1.5rem; color: red"
                                ></i>
                            </div>
                            <div
                                class="col-12"
                                (click)="showDialog()"
                                style="text-align: center"
                            >
                                <p>View all comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-3" />
</div>
<div class="card flex justify-content-center">
    <p-dialog
        header="All Comments"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    >
        <div *ngFor="let comment of comments">
            <div class="mb-5">
                <span class="d-flex">
                    <img
                        class="bd-placeholder-img rounded-circle me-2"
                        width="40"
                        height="40"
                        src="{{ comment.authorAvatarUrl }}"
                        alt="{{ comment.id }}"
                    />
                    <div>
                        <h6>{{ comment.authorName }}</h6>
                        <h5>{{ comment.content }}</h5>
                        <button
                            class="btn btn-sm btn-primary mt-2"
                            (click)="replyToComment(comment)"
                        >
                            Reply
                        </button>
                    </div>
                </span>

                <div class="mb-5" *ngIf="comment.children.length > 0">
                    <div *ngFor="let reply of comment.children">
                        <span
                            class="d-flex d-inline-block"
                            style="margin-left: 20px"
                        >
                            <img
                                class="bd-placeholder-img rounded-circle me-2"
                                width="40"
                                height="40"
                                src="{{ reply.authorAvatarUrl }}"
                                alt="{{ reply.id }}"
                            />

                            <div>
                                <h6>{{ reply.authorName }}</h6>
                                <h5 class="comment-line">
                                    <span class="author-name">{{
                                        comment.authorName
                                    }}</span>
                                    <span class="comment-content">{{
                                        reply.content
                                    }}</span>
                                </h5>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
            <form>
                <div class="d-flex px-4 py-2 bg-body-secondary">
                    <p>Reply To: {{ selectedComment.authorName }}</p>
                    <input
                        class="form-control"
                        type="text"
                        name="content"
                        placeholder="Type a comment"
                        [(ngModel)]="comment.content"
                    />
                    <button
                        *ngIf="isReply == true"
                        class="btn btn-sm btn-primary mt-2"
                        (click)="cancelReplyToComment()"
                    >
                        Cancel
                    </button>
                    <button
                        type="submit"
                        class="btn bg-primary-1 ms-2"
                        (click)="addComment()"
                    >
                        <i class="bi bi-send text-blue"></i>
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</div>
