<div>
    <h2>Reset Your Password</h2>
</div>

<form style="max-width: 350px; margin: 0 auto">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter your new password"
                    required
                    autofocus
                    [(ngModel)]="this.data.password"
                />
            </p>
            <p>
                <input
                    name="confirmPassword"
                    type="password"
                    class="form-control"
                    placeholder="Confirm your new password"
                    required
                    [(ngModel)]="this.data.confirmPassword"
                />
            </p>

            <p class="text-center">
                <input
                    type="submit"
                    value="Change Password"
                    class="btn btn-primary"
                    (click)="onSubmit()"
                />
            </p>
        </div>
    </div>
</form>
